@model VerstaTest.Models.Order

@{
    ViewData["Title"] = "Детали";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
